{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block style %}
	body{
		background-image: url("static/bg.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#index-content{
		text-align: center;
		color: white;
	}
	#search-box{
		height:30px;
		border-radius: 5px;
	}
	#headline{
		margin-top: 15%;
	}
	#field-error{
		color: red;
		font-size: 15px;
		font-weight: 600;
	}
	ul{
		list-style: none;
	}
	#img-src{
		background-color: black;
		list-style: none;
	}
	
 
{% endblock %}
{% block content%}
	<div id= "index-content">
		<h3 id="headline"> Welcome to PicCheck </h3>
		<p> Find out how photogenic your city is! </p>
		<form action="" method="post" name="search">
			{{ form.hidden_tag() }}
			<p id="form-elements">
				{{ form.location(size=60, id="search-box")}}<br>
				{% for error in form.location.errors %}
					<span id="field-error">{{error}}</span>
				{% endfor %}
				<span id="img-src"> {{ form.img_src()}}</span>
				{% for error in form.img_src.errors %}
					<span id="field-error">{{error}}</span>
				{% endfor %}
				
			</p>
			<input type="submit" value="GO">
		</form>
	</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{{google_places_url}}"></script>
	<script>
		function initialize(){
			var input = document.getElementById('search-box');
			var options = {
				types: ['(cities)']
			};
			var autocomplete = new google.maps.places.Autocomplete(input, options);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
{% endblock %}
