<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="./fontawesome-free-6.4.2-web//css//all.min.css"
    />

    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <!-- <nav class="navbar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">DesignX</label>
        <ul class="links"> 
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Feedback</a></li>
        </ul>
      </nav> -->
      <div class="header">
        <main class="navbar">
          <h1 class="logo">Easy</h1>

          <div>
            <input type="checkbox" id="active" />
            <label for="active" class="menu-btn"
              ><i class="fas fa-bars"></i
            ></label>
            <div class="wrapper">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Feedback</a></li>
              </ul>
            </div>
            <div class="content">
              <div class="title">Fullscreen Overlay Navigation Bar</div>
              <p>using only HTML & CSS</p>
            </div>
          </div>
        </main>

        <div class="hero">
          <section class="text-section">
            <div class="hero-txt">
              <h1 class="hero-title">make your making decion more easer</h1>
              <p class="hero-pargraph">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur accusantium, eius, assumenda mollitia dolor eos, est
                ut rem exercitationem tenetur facere maxime et!
              </p>
              <div class="flex-row">
                <a href="#" class="primary-btn">get started</a>
                <a href="#" class="outline-btn">learn more</a>
              </div>
            </div>
          </section>
          <section class="img-section">
            <img class="hero-img" src="./assets//imgs//heroImg.png" />
          </section>
        </div>
      </div>

      <h4 class="subTitle">services</h4>
      <section class="features">
        <div class="feature-card">
          <span class="feature-card-logo"></span>
          <div class="feature-card-info">
            <h3 class="feature-title">title 1</h3>
            <span class="icon-container"
              ><i class="fa-solid fa-check"></i
            ></span>
            <p class="feature-card-txt">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi
              dolor tenetur necessitatibus, enim eius amet? Laborum asperiores
              deleniti quaerat possimus!
            </p>
          </div>
        </div>
        <div class="feature-card">
          <span class="feature-card-logo"></span>
          <div class="feature-card-info">
            <h3 class="feature-title">title 2</h3>
            <span class="icon-container">
              <i class="fa-solid fa-fire"></i>
            </span>
            <p class="feature-card-txt">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi
              dolor tenetur necessitatibus, enim eius amet? Laborum asperiores
              deleniti quaerat possimus!
            </p>
          </div>
        </div>
        <div class="feature-card">
          <span class="feature-card-logo"></span>
          <div class="feature-card-info">
            <h3 class="feature-title">title 3</h3>
            <span class="icon-container">
              <i class="fa-solid fa-wand-magic-sparkles"></i>
            </span>
            <p class="feature-card-txt">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi
              dolor tenetur necessitatibus, enim eius amet? Laborum asperiores
              deleniti quaerat possimus!
            </p>
          </div>
        </div>
      </section>
      <section class="feed">
        <div class="text">
          <h2 class="feed-heading">
            heading explaining the main benefit of your app
          </h2>
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. labore ex
            fugit saepe laborum dignissimos impedit sed.
          </p>
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. labore ex
            fugit saepe laborum dignissimos impedit sed.
          </p>
        </div>
        <div>
          <!-- img -->
          <img class="feed-img" src="./assets//imgs//heroImg.png" />
        </div>
      </section>
      <section class="contact">
        <p class="subTitle">Get in touch</p>
        <div>
          <div class="form-wrapper">
            <form class="contact-form">
              <input type="text" placeholder="email" />
              <!-- </div> -->
              <!-- <div> -->
              <input type="text" placeholder="email" />
              <button>Send</button>
            </form>
          </div>
        </div>
        <div class="flex-col">
          <h2>download the mobile app for free</h2>
          <p class="paragraph">
            rresej jhdcjv llsjff jiuffrdrs mkppfrd hftdesawmkkkjiji
          </p>
        </div>
      </section>
      <footer>
        <div class="row primary">
          <div class="column about">
            <h3>brand Name</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
              voluptatem corporis error non, corrupti delectus unde, incidunt
              dolorem quam porro tenetur autem? Maxime aspernatur quas, natus
              nesciunt harum obcaecati voluptatum.
            </p>
          </div>
          <div class="column links">
            <h3>Quick Links</h3>
            <ul>
              <li>
                <a href="#faq">F.A.Q</a>
              </li>
              <li>
                <a href="#cookies-policy">Cookies Policy</a>
              </li>
              <li>
                <a href="#terms-of-services">Terms Of Service</a>
              </li>
              <li>
                <a href="#support">Support</a>
              </li>
              <li>
                <a href="#careers">Careers</a>
              </li>
            </ul>
          </div>
          <div class="column subscribe">
            <h3>Subscribe</h3>
            <div>
              <input type="email" placeholder="Your email id here" />
              <button>Subscribe</button>
            </div>
            <div class="social">
              <i class="fa-brands fa-facebook-square"></i>
              <i class="fa-brands fa-instagram-square"></i>
              <i class="fa-brands fa-twitter-square"></i>
            </div>
          </div>
        </div>
        <div class="row secondary">
          <div>
            <p>
              <i class="fas fa-phone-alt"></i>
            </p>
            <p>+249 123456789</p>
          </div>
          <div>
            <p><i class="fas fa-envelope"></i></p>
            <p>test@test.com</p>
          </div>
          <div>
            <p><i class="fas fa-map-marker-alt"></i></p>
            <p>1234 atabara Street</p>
          </div>
        </div>
        <div class="row copyright">
          <p>Copyright &copy; 2023 All Rights Reserved</p>
        </div>
      </footer>
    </div>
    <script src="./fontawesome-free-6.4.2-web//js/all.min.js"></script>
    <!-- <script src="script.js"></script>  -->
  </body>
</html>
